@model CategorySellerBook;

<link rel="stylesheet" href="~/css/Create.css">
<div class="container-fluid ">
    <div class="newbookbtn">
        <a asp-action="CreateCategoryNSeller" class="btn ">Add New Seller And Category</a>
    </div>
    <div class="row">

        <div class="col-6">

            <form asp-action="Create">
                <input asp-for="ID" hidden />
                <div class="mb-3">
                    <label class="form-label">Book Name</label>
                    <input type="text" class="form-control" asp-for="Name">

                </div>
                <div class="mb-3">
                    <label class="form-label">Author Name</label>
                    <input type="text" class="form-control" asp-for="Author">
                </div>
                <div class="mb-3">
                    <label class="form-label">Price</label>
                    <input type="text" class="form-control" asp-for="Price">
                </div>
                <div class="mb-3">
                    <label class="form-label">Image Url</label>
                    <input type="text" class="form-control" asp-for="ImgUrl">
                </div>
                <div class="row">
                    <div class="mb-3">
                        <label class="form-label">Book Category</label>
                        <select class="form-control js-example-basic-multiple" asp-for="CategoryIds" multiple="multiple">
                            @foreach (var cat in ViewBag.Categories)
                            {
                                <option value="@cat.Id">@cat.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="mb-3 ">
                    <label class="form-label">Seller Name</label>
                    <select class="form-control js-example-basic-multiple" asp-for="SellerIds" multiple="multiple">
                        @foreach (var seller in ViewBag.Seller)
                        {
                            <option value="@seller.Id">@seller.Name</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();
        });
    </script>
}
